.visible {
    top: 0px;
    transition: 0.3s linear;
    height: 4rem;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: stretch;
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    z-index: 2;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
    /* padding: 0 7%; */
}

.hidden {
    top: -80px;
    /* height: 4rem; */
    /* width: 100%; */
    /* z-index: 2; */
    /* border-bottom: 1px solid rgba(0, 0, 0, .1); */
    /* box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08); */
    /* position: fixed; */
    /* transition: 0.3s linear; */
}